/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: sans-serif;
    background-color: rgb(246, 245, 243);
}

header {

    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center
}

h1 {
    font-size: 75px;
    color: #FF9614;    
    font-family: "Nerko One", cursive;
    font-weight: 400;
    text-align: center;
}

main {
    font-family: 'Helvetica Neue', sans-serif;
    padding: 0 20px;
}

h4 {
    color: rgb(148, 144, 144, 0.8);
    font-weight: 300;
    font-size: 25px;
}

h3 {
    font-size: 30px;
    color: #4E3969;
}

img {
    display: block;
    max-width: 100%;
}

iframe {
    width: 100%;
}

ul{
    list-style-type: none;
}

li {
    padding-left: 20px;
    margin-bottom: 1rem;
}

/* Utils */

.container {
    max-width: 1080px;
    margin: 0 auto;
}

#recipe {
    background-color: white;
}

.fa-solid {
    color: #FF9614;
}

.border {
    border: 2px solid black;
}

.rating {
    font-size: 25px;
}

.rating span {
    border: 0.5px #FF9614 solid;
    background-color: #FF9614;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
}

.list {
    padding-bottom: 30px;
}

.hidden {
    display: none;
}

.info {
    margin: 15px 20px;
    background-color: #F6F5F9;
}

.purple {
    border: 0.5px #4E3969;;
    background-color: #4E3969;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.orange {
    font-size: 25px;
    color: orange;
    font-weight: 700;
    text-align: end;
}

/* Layout */

.row {
    display: flex;
}

.col-70 {
    flex-basis: 70%;
}

.col-30 {
    flex-basis: 30%;
}

.m-btm-3 {
    margin-bottom: 3rem;
}

.brd-btm {
    border-bottom: 1px gray solid;
}

.pad-t {
    padding: 20px 10px;
}

.m-btm-1 {
    margin-bottom: 1rem;
}

.t-a-end {
    text-align: end;
}