/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: sans-serif;
    background-color: rgb(246, 245, 243);
}

header {

    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center
}

h1 {
    font-size: 75px;
    color: #FF9614;    
    font-family: "Nerko One", cursive;
    font-weight: 400;
    text-align: center;
}

main {
    font-family: 'Helvetica Neue', sans-serif;
    padding: 0 10px;
}

h4 {
    color: rgb(148, 144, 144, 0.8);
    font-weight: 300;
    font-size: 25px;
}

/* Utils */

.container {
    max-width: 200%;
    margin: 0 auto;
}

.m-btm {
    margin-bottom: 2rem;
}